/* Pagina Home */
.conteudo{
  /* display: flex;
  flex-direction: column;
  height: 92vh;
  display: block;
  /* background-color: blue; /
  width: 100vw; */
}

/* Pagina Home */
.filtro_busca{
  width: 300px;
  height: 380px;
  background-color: #fff;
  position: absolute;
  position: fixed;
  margin-left: 50px;
  margin-top: 100px;
  /* z-index: 999; */
}

.title_filtro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.content-filtro{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 360px;
}

.control-filtro{
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}
.txt_filtro2{
margin-left: 10px;
font-size: 1.1rem;
}

.box_filtro{
  width: 90%;
  height: 25px;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-left: 10px;
}

.btn_buscar{
  /* width: 100%; */
  /* background-color: #1F405E; */
  position: absolute;
  /* margin-top: -20px; */
  right: 18px;
  bottom: 15px;
}

.btn_buscar:hover
{
  background-color: #4d9b61;
}

/* area de video */

.txt_filtro{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 5px;
  color: #458665;
  font-weight: bolder;
  margin-bottom: 20px;
}

.box_filtro{
  width: 90%;
  margin-top: 2px;
  margin-left: 10px;
}

.video-principal{
  display: flex;
  justify-content: center;
  /* font-size: 2.8rem; */
  height: 100vh;
  width: 100%;
  /* background-color: black; */
  /* align-items: center; */
}

/* Configuracao do video */
.video-principal img{
  height: 100px;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: auto;
  /*-webkit-filter: blur(10px);
  filter: blur(10px); */
  z-index: -100;
}

.frase-inicial{
  display: flex;
  position: absolute;
  justify-content: center;
  width: 80%;
  height: auto;
  font-size: 1.8rem;
  /* background-color: blue; */
  align-self: center;
  margin: -5px;
  color: white;
}
/* .titulo h1{
font-family: Georgia, serif;
font-size:40px;
}
.titulo p{
margin: 1.6em 0;
} */

/* Define um padrao pra container */
.container{
  display: block;
  min-height:1000px;
  height: auto;
}

.conteudo_locais{
  width: 1500px;
  height: 510px;
  margin:auto;
  overflow: hidden;
}
/* Mantém centralizados os titulos */
.titulo_locais{
  display: flex;
  justify-content: center;
  color:#1f405e;
}

.locais-viagem{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

}

.polaroid {
  width: 330px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}

.polaroid:hover {
  width: 380px;
  transition: 1s;
}

.polaroid img {
  width: 100%;
  height: 290px;
}
.texto-polaroid {
    text-align: center;
    padding: 10px 10px;
}

.comentarios-pag-inicial{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 180px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;

}

.comentarios-pag-inicial:hover{
  width: 410px;
  height: 190px;
  transition: 1s;
}

.comentario-usuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 110px;
}

.comentario-conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 280px;
  height: 160px;
  /* text-align: center; */
}

.comentarios-pag-inicial img{
  width: 100px;
  height: 100px;
  border-radius: 1000px;
}
/* Carrosel de conteudo */
#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
	margin: 0 auto;
	width: 1500px;
	height: 220px;
}

#carrossel {
	float: left;
	width: 1300px;
	overflow: hidden;
	height: 210px;
}

#carrossel ul li {
	width: 420px;
	height: 200px;
	float: left;
	margin: 0 5px;
}

.menu-carrossel {
	float: left;
	clear: both;
  align-self: center;
	width: 80px;
  height: 50px;
	text-align: center;
}

.menu-carrossel img{
  width:50px;
  height: 50px;

}
.nome_usuario{
  color: #fff;
  font-family: sans-serif;;
  font-size: 17px;
}
/* ------------------------------------------------------------------------- */
